.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.App-logo {
  height: 150px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  border-bottom: solid 2px #e11d48;
}

.App-body {
  padding: 20px;
}

.App-footer {
  background-color: #fff;
  padding: 20px;
  border-top: solid 2px #e11d48;
  position: absolute;
  bottom: 0;
  width: 100%;
}
