.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.App-logo {
  height: 150px;
  width: 150px;
}

h1 {
  color: #e11d48;
  font-size: 2rem;
  margin-left: 20px;
}

.App-header {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body {
  padding: 20px;
  border-top: solid 2px #e11d48;
}

.App-login {
  text-align: left;
  margin-left: 20px;
}

.App-footer {
  background-color: #fff;
  padding: 20px;
  border-top: solid 2px #e11d48;
  position: absolute;
  bottom: 0;
  width: 100%;
}
