.App {
  text-align: center;
  background-color: #fff;
  min-height: 100vh;
}

.App-logo {
  height: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #e11d48; /* Color rojo para el título */
  font-size: 2.5rem; /* Aumenta el tamaño del título */
}

.App-header {
  background-color: #fff;
  padding: 20px 0;
  border-bottom: solid 2px #e11d48;
}

.Header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body {
  padding: 20px;
}

.App-footer {
  background-color: #fff;
  padding: 20px;
  border-top: solid 2px #e11d48;
  position: absolute;
  bottom: 0;
  width: 100%;
}
